.assortment{
    border-top: 2px solid var(--black-bg);
    text-align: center;

};

.assortment__title{
    display: inline-block;
    padding: 20px 60px;
    font-size: 48px;
    font-family: Roboto;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: var(--black-bg);
    color: var(--secondary-text);
};

.assortment__btn-list{
    text-align: start;
}
.assortment__btn{
   
    &:hover, &:focus{
        background-color: var(--blue-bg);
    }
};

.assortment__btn-icon{
    fill: none;
    stroke: var(--primary-text)
}
.assortment__card{
    display: flex;
}
.assortment__trend{
    display: flex;
}