.footer {
  background-color: var(--black-bg);
  color: var(--secondary-text);
 
  @media screen and (min-width: 1920px) {
    
  }
}

.footer-container {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 45px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2px;
  @media screen and (min-width: 1920px) {
    width: 1920px;
    padding-left: 225px;
    padding-right:225px;
    padding-bottom: 0;
    display: flex;
    height: 270px;
    padding-top: 1px;
  }
}

.footer-logo {
  width: 200px;
  padding: 22px 6px;
  background-color: var(--primary-bg);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  @media screen and (min-width: 1920px) {
    width: 222px;
    height: 100%;
    padding-top: 49px;
    padding-bottom: 49px;
    padding-left: 9px;
    padding-right: 9px;
    margin-left:0;
    margin-right: 220px;
  }
}

.footer__nav-section {
  text-transform: uppercase;
  margin-bottom: 40px;
}
.footer__nav-list {
  margin-bottom: 24px;
}
.footer__nav-item:not(:last-child) {
  margin-bottom: 24px;
}

.footer__content-section {
  font-family: 'Segoe Print';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.5px;

  @media screen and (min-width: 1920px) {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    padding-top: 84px;
  }
}

.footer__contact-section {
    margin-bottom: 40px;
  @media screen and (min-width: 1920px) {
    margin-left: 206px;
  }
}
.footer__contact-title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 24px;
    margin-bottom: 20px;
    @media screen and (min-width: 1920px) {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 40px;
  
  }
}
.footer__contact-item {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 120%;

  @media screen and (min-width: 1920px) {
    font-size: 16px;
    line-height: 19px;  
  }
  &:not(:last-child){
    margin-bottom: 8px;
  }
}

.footer__social-section{
    @media screen and (min-width: 1920px) {
    margin-left: 253px;}
}

.footer__social-list{
    display: flex;
   justify-content: center;
    gap: 24px;
}
