.header { 
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;  
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-icon {
  @media screen and (min-width: 360px) {
    width: 90px;
  }

    @media screen and (min-width: 1920px) {
    width: 204px;
  }
}

.header__icon-list {
  display: flex;
  gap: 24px;
}
.header__icons-hidden{
  display: none;
  @media screen and (min-width: 1920px) {
   display: flex;
   gap: 24px;
  }

}
.header-icon {
  fill: none;
  stroke: var(--primary-text);
  transition: $transition-value;

  &:hover,
  &:focus {
    fill: var(--red-icon);
    stroke: var(--primary-text);
  }
}
