.hero{
    padding-top: 424px;
    padding-left: 458px;
    padding-right: 468px;
height: 866px;
background-image: url(../images/macaroons-min.jpg);
background-repeat: no-repeat;
background-position: 1130 263;
background-size: 320px 530px
}
.hero__title{
    font-family: 'Roboto';       
        font-weight: 900;
        font-size: 200px;
        line-height: 200px;
        letter-spacing: 10px;
        text-transform: uppercase;
}
.hero__title-end{
color: rgba(0,0,0,0);
-webkit-text-stroke: 3px black;
}


.hero__text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    text-transform: lowercase;
    margin-top: 35px;
}
.hero__btn{
width: 189px;
height: 48px;
border: 2px solid var(--black-bg);
padding: 14px 40px;
font-family: 'Segoe Print';
font-weight: 400;
font-size: 20px;
line-height: 20px;
letter-spacing: 1.75px;
text-transform: uppercase;
margin-top: 40px;
&:hover, &:focus{
    background-color: var(--accent-text);
    color: var(--secondary-text);
}
}