.hero{
padding-top: 63px;
padding-left: 0;
padding-right: 0;
height: 866px;
background-image: url(../images/macaroons-min.jpg);
background-repeat: no-repeat;
background-position: 1130 263;
background-size: 320px 530px
}
.hero__title{
display: inline-block;
font-family: 'Roboto';       
font-weight: 900;
font-size: 200px;
line-height: 200px;
letter-spacing: 10px;
text-transform: uppercase;
};

.hero__title-end{
color: rgba(0,0,0,0);
-webkit-text-stroke: 3px black;
}


.hero__text{
font-family: 'Roboto';
font-weight: 400;
font-size: 35px;
line-height: 42px;
text-transform: lowercase;
margin-top: 35px;
}
