.surprise {
    
  border-top: 2px solid var(--black-bg);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 840px;
  width: 360px;

  @media screen and (min-width: 1920px) {
    width: 1920px;
    height: 1190px;
    padding-left: 145px;
    padding-right: 330px;
  }
}

.surprise__title{
    @media screen and (min-width: 1920px) {
    margin-bottom: 100px;}
}

.surprise__card-background {
    position: relative;
  margin-top: 145px;
  height: 160px;
  background-color: var(--blue-bg);
  text-align: center;
  

  @media screen and (min-width: 1920px) {
    height: 378px;
    margin-top: 350px;
  
  }
}

.surprise__card {
    position: absolute;
    top: -85px;
    
    text-align: center;
    margin-right: auto;
  margin-left: auto;
//   padding-top: 50px;
//   padding-bottom: 50px;
  @media screen and (min-width: 1920px) {
    display: flex;
   align-items: center;
   gap: 110px;
   top: -255px;
  }
}

// .surprise__img {
//   @media screen and (min-width: 1920px) {
   
//   }
// }

.surprise__cart-content {
    text-align: start;
    @media screen and (min-width: 1920px){
  width: 480px;
  }
}

.surprise__subtitle {
    font-family: Segoe Print;
font-size: 24px;
font-weight: 700;
line-height: 28px;


@media screen and (min-width: 1920px){
  font-size: 32px;  
}}

.surprise__text {
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px; 
letter-spacing: 0.32px;

margin-top: 20px;
margin-bottom:30px;


@media screen and (min-width: 1920px){
  font-size: 24px;
  letter-spacing: 0.48px;
  
}}
