.surprise {    
  border-top: 2px solid var(--black-bg);
  height: 840px;
  text-align: center;
  @media screen and (min-width: 1920px) {    
    height: 1190px;
   
  }
}

.surprise__title{
      @media screen and (min-width: 1920px) {
    // margin-bottom: 100px;
  }
}

.surprise__card-background {
    position: relative;
  margin-top: 145px;
  height: 160px;
  background-color: var(--blue-bg);
  text-align: center;  

  @media screen and (min-width: 1920px) {
    height: 378px;
    margin-top: 350px;
  
  }
}

.surprise__card {
    position: absolute;
    top: -85px;    
    text-align: center;
    //  padding-left: 145px;
    // padding-right: 330px;
    margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 1920px) {
    display: flex;
   align-items: center;
   gap: 110px;
   top: -255px;
  }
}

.surprise__cart-content {
    text-align: start;
    width: 320px;
    
    @media screen and (min-width: 1920px){
  width: 480px;
  // padding-top: 45px;
  }
}

.surprise__subtitle {
    font-family: Segoe Print;
font-size: 24px;
font-weight: 700;
line-height: 28.8px;

@media screen and (min-width: 1920px){
  font-size: 32px;  
  line-height: 38.4px;
}}


.surprise__text {
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px; 
letter-spacing: 0.32px;
margin-top: 20px;
// margin-bottom:30px;

@media screen and (min-width: 1920px){
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0.48px;
  
}}
