h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body.modal-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.container {
  max-width: 100%;
  padding-left: 85px;
  padding-right: 85px;
  margin-left: auto;
  margin-right: auto;
  width: 1920px;
}

:root {
  --primary-text:#121313;
  --secondary-text:#FFFEFC;
  --accent-text:#78807F;
  --red-icon:#F42808;
  --primary-bg:#FFFEFC;
  --secondary-bg:#F4E1A9;
  --blue-bg:#9BCDCA;
  --pink-bg: #EFBCB7;
  --black-bg: #121313;
  --red-bg: #F42808;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  display: flex;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon-list {
  display: flex;
  gap: 24px;
}

.header-icon {
  fill: none;
  stroke: #121313;
}
.header-icon:hover, .header-icon:focus {
  fill: var(--red-icon);
}

.hero {
  padding-top: 424px;
  padding-left: 458px;
  padding-right: 468px;
  height: 866px;
  background-image: url(../images/macaroons-min.jpg);
  background-repeat: no-repeat;
  background-position: 1130 263;
  background-size: 320px 530px;
}

.hero__title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 200px;
  line-height: 200px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.hero__title-end {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 3px black;
}

.hero__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  text-transform: lowercase;
  margin-top: 35px;
}

.hero__btn {
  width: 189px;
  height: 48px;
  border: 2px solid var(--black-bg);
  padding: 14px 40px;
  font-family: "Segoe Print";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-top: 40px;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--accent-text);
  color: var(--secondary-text);
}

.surprise {
  height: 1190px;
  border-top: 2px solid var(--black-bg);
  position: relative;
  background-image: url(../images/CakeBox-min.jpg);
  background-repeat: no-repeat;
  background-position: 145 100;
  background-size: 860px 890px;
  z-index: 2;
}

.surprise__title {
  font-size: 48px;
  font-family: Roboto;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--black-bg);
  color: var(--secondary-text);
}

.surprise__card {
  margin-top: 356px;
  background-color: var(--blue-bg);
  padding-left: 1115px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 378px;
  z-index: 1;
}

.surprise__subtitle {
  font-size: 32px;
  font-family: Segoe Print;
  font-weight: 700;
  line-height: 120%;
}

.surprise__text {
  font-size: 24px;
  font-family: Roboto;
  line-height: 120%;
  letter-spacing: 0.48px;
}

.footer {
  background-color: var(--black-bg);
  color: var(--secondary-text);
}

.footer-container {
  display: flex;
  height: 270px;
  padding-left: 228px;
  padding-top: 1px;
}

.footer__contacts-section {
  display: flex;
  align-items: flex-start;
  padding-top: 84px;
  font-family: "Segoe Print";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.footer-logo {
  width: 222px;
  background-color: var(--primary-bg);
  padding-top: 49px;
  padding-bottom: 49px;
  padding-left: 9px;
  padding-right: 9px;
}

.footer__link-section {
  margin-left: 224px;
  text-transform: uppercase;
}

.footer__link-list {
  margin-bottom: 24px;
}

.footer__link-item {
  margin-bottom: 24px;
}

.footer__phone-section {
  margin-left: 206px;
}

.footer__phone-title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 17px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.footer__phone-item {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: lowercase;
  margin-bottom: 8px;
}

.footer__social-section {
  margin-left: 253px;
}

.footer__social-list {
  display: flex;
  gap: 24px;
}/*# sourceMappingURL=index.css.map */