:root{
    --primary-text:#121313;
    --secondary-text:#FFFEFC;
    --accent-text:#78807F;

    --red-icon:#F42808;

    --primary-bg:#FFFEFC;
    --secondary-bg:#F4E1A9;
    --blue-bg:#9BCDCA;
    --pink-bg: #EFBCB7;
    --black-bg: #121313;
    --red-bg: #F42808;


}
// @font-face {
//     font-family: 'Segoe Print';
//     src: url('SegoePrint.eot');
//     src: local('Segoe Print'), local('SegoePrint'),
//         url('SegoePrint.eot?#iefix') format('embedded-opentype'),
//         url('SegoePrint.woff') format('woff'),
//         url('SegoePrint.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }