<section class="assortment container">
  <h2 class="assortment__title">Дивись наш асортимент</h2>
  <div class="assortment__card">
    <ul class="assortment__btn-list">
      <li>
        <button class="assortment__btn">
          <svg class="assortment__btn-icon" width="120" height="120">
            <use href="./images/symbol-defs.svg#icon-makaroon"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="assortment__btn">
          <svg class="assortment__btn-icon" width="120" height="120">
            <use href="./images/symbol-defs.svg#icon-donut"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="assortment__btn">
          <svg class="assortment__btn-icon" width="120" height="120">
            <use href="./images/symbol-defs.svg#icon-cupcake"></use>
          </svg>
        </button>
      </li>
    </ul>

    <div class="assortment__trend">
      <div class="assortment__trend-description">
        <h3 class="assortment__trend-title">Капкейк з трюфелем та малиною</h3>
        <p class="assortment__trend-descr">
          Шоколадний бісквіт з начинкою з трюфеля, обгорнутий кремом з малини,
          що додає свіжості, створює дуже розкішний і смачний десерт.
        </p>
        <h4 class="assortment__trend-price">62,00 грн</h4>
        <button class="btn">в кошик</button>
        <svg class="assortment__trend-icon" width="48" height="48">
          <use href="./images/symbol-defs.svg#icon-heart"></use>
        </svg>
      </div>
      <img
        class="assortment__trend-img"
        src="./images/TruffleCake.png"
        alt="TruffleCake"
      />
    </div>
  </div>
</section>
