<section class="assortment">
  <div class="container">
    <h2 class="title assortment__title">Дивись наш асортимент</h2>
    <div class="assortment__card">
      <ul class="assortment__btn-list">
        <li>
          <button class="assortment__btn">
            <svg class="assortment__btn-icon" width="120" height="120">
              <use href="./images/symbol-defs.svg#icon-makaroon"></use>
            </svg>
          </button>
        </li>
        <li>
          <button class="assortment__btn">
            <svg class="assortment__btn-icon" width="120" height="120">
              <use href="./images/symbol-defs.svg#icon-donut"></use>
            </svg>
          </button>
        </li>
        <li>
          <button class="assortment__btn current">
            <svg class="assortment__btn-icon" width="120" height="120">
              <use href="./images/symbol-defs.svg#icon-cupcake"></use>
            </svg>
          </button>
        </li>
      </ul>

      <div class="assortment__trend">
        <div class="assortment__trend-description">
          <h3 class="assortment__trend-title">Капкейк з трюфелем та малиною</h3>
          <p class="assortment__trend-descr">
            Шоколадний бісквіт з начинкою з трюфеля, обгорнутий кремом з малини,
            що додає свіжості, створює дуже розкішний і смачний десерт.
          </p>
          <h4 class="assortment__trend-price">62,00 грн</h4>
          <div class="assortment__btns">
            <button class="btn assortment__descr-btn">в кошик</button>
            <svg class="assortment__trend-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </div>
        </div>
        <div class="assortment__img-bg">
          <img
            class="assortment__trend-img"
            src="./images/TruffleCake.png"
            alt="TruffleCake"
          />
        </div>
      </div>
    </div>
    <div class="assortment__product-list">
      <button class="prev-btn" type="button">
        <svg class="list-arrow" width="48" height="48">
          <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <div class="slider">
        <div class="assortment__product-item">
          <img
            class="assortment__product-img"
            src="./images/BlackCake.png"
            alt="Isecream cupcake"
          />
          <h3 class="assortment__trend-title">
            Капкейк з морозивом та шоколадним соусом
          </h3>
          <h4 class="assortment__trend-price">50 грн</h4>
          <div class="assortment__btns">
            <button class="btn assortment__descr-btn">в кошик</button>
            <svg class="assortment__trend-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </div>
        </div>
        <div class="assortment__product-item">
          <img
            class="assortment__product-img"
            src="./images/RedCake.png"
            alt="Raspberry cupcake"
          />
          <h3 class="assortment__trend-title">
            Малиновий капкейк з вершковим кремом
          </h3>
          <h4 class="assortment__trend-price">55,00 грн</h4>
          <div class="assortment__btns">
            <button class="btn assortment__descr-btn">в кошик</button>
            <svg class="assortment__trend-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </div>
        </div>
        <div class="assortment__product-item">
          <img
            class="assortment__product-img"
            src="./images/YellowCake.png"
            alt="Lemon cupcake"
          />
          <h3 class="assortment__trend-title">
            Лимонний капкейк з мигдалевими стружками
          </h3>
          <h4 class="assortment__trend-price">60,00 грн</h4>
          <div class="assortment__btns">
            <button class="btn assortment__descr-btn">в кошик</button>
            <svg class="assortment__trend-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </div>
        </div>
        <div class="assortment__product-item">
          <img
            class="assortment__product-img"
            src="./images/BlackCake.png"
            alt="Isecream cupcake"
          />
          <h3 class="assortment__trend-title">
            Капкейк з морозивом та шоколадним соусом
          </h3>
          <h4 class="assortment__trend-price">50 грн</h4>
          <div class="assortment__btns">
            <button class="btn assortment__descr-btn">в кошик</button>
            <svg class="assortment__trend-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </div>
        </div>
      </div>
      <button class="next-btn">
        <svg class="list-arrow" width="48" height="48">
          <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
