<section class="assortment">
  <div class="container">
    <h2 class="title assortment__title">Дивись наш асортимент</h2>
    <div class="assortment__card">
      <ul class="assortment__btn-list">
        <li>
          <button class="assortment__btn">
            <svg class="assortment__btn-icon">
              <use href="./images/symbol-defs.svg#icon-makaroon"></use>
            </svg>
            <p class="assortment__btn-title">макаронси</p>
          </button>
        </li>
        <li>
          <button class="assortment__btn">
            <svg class="assortment__btn-icon">
              <use href="./images/symbol-defs.svg#icon-donut"></use>
            </svg>
            <p class="assortment__btn-title">пончики</p>
          </button>
        </li>
        <li>
          <button class="assortment__btn current">
            <svg class="assortment__btn-icon">
              <use href="./images/symbol-defs.svg#icon-cupcake"></use>
            </svg>
            <p class="assortment__btn-title">капкейки</p>
          </button>
        </li>
      </ul>

      <div class="assortment__trend" >
        <div class="assortment__img-bg">
          <img
            class="assortment__trend-img"
            src="./images/TruffleCake.png"
            alt="TruffleCake"
          />
        </div>

        <div class="assortment__trend-description">
          <h3 class="assortment__trend-title">Капкейк з трюфелем та малиною</h3>
          <p class="assortment__trend-descr">
            Шоколадний бісквіт з начинкою з трюфеля, обгорнутий кремом з малини,
            що додає свіжості, створює дуже розкішний і смачний десерт.
          </p>
          <div class="assortment__btns">
            <h4 class="assortment__trend-price">62,00 грн</h4>
            <button class="assortment__btn-like">
              <svg class="assortment__like-icon" width="48" height="48">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
              </svg>
            </button>
            <button class="btn assortment__descr-btn">в кошик</button>
          </div>
        </div>
      </div>
    </div>
    <div class="assortment__products " id="assortment">
    
      <div class="assortment__product-list itc-slider" data-slider="itc-slider">
       
        <div class="itc-slider-wrapper">
            
          <div class="itc-slider-items">
        <div class="assortment__product-item itc-slider-item">
          <img
            class="assortment__product-img"
            src="./images/BlackCake.png"
            alt="Isecream cupcake"
          />
          <h3 class="product-title assortment__trend-title">
            Капкейк з морозивом та шоколадним соусом
          </h3>
          <h4 class="product-price assortment__trend-price">50,00 грн</h4>

          <button class="btn assortment__descr-btn product-choose">
            в кошик
          </button>
          <button class="assortment__btn-like products-like">
            <svg class="assortment__like-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </button>
          <button class="assortment__btn-like products-bag">
            <svg class="assortment__like-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-bag"></use>
            </svg>
          </button>
        </div>
        <div class="assortment__product-item itc-slider-item">
          <img
            class="assortment__product-img"
            src="./images/RedCake.png"
            alt="Raspberry cupcake"
          />
          <h3 class="assortment__trend-title product-title">
            Малиновий капкейк з вершковим кремом
          </h3>
          <h4 class="assortment__trend-price product-price">55,00 грн</h4>

          <button class="btn assortment__descr-btn product-choose">
            в кошик
          </button>
          <button class="assortment__btn-like products-like">
            <svg class="assortment__like-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </button>
          <button class="assortment__btn-like products-bag">
            <svg class="assortment__like-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-bag"></use>
            </svg>
          </button>
        </div>
        <div class="assortment__product-item itc-slider-item">
          <img
            class="assortment__product-img"
            src="./images/YellowCake.png"
            alt="Lemon cupcake"
          />
          <h3 class="assortment__trend-title product-title">
            Лимонний капкейк з мигдалевими стружками
          </h3>
          <h4 class="assortment__trend-price product-price">60,00 грн</h4>
          <button class="btn assortment__descr-btn product-choose">
            в кошик
          </button>
          <button class="assortment__btn-like products-like">
            <svg class="assortment__like-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </button>
          <button class="assortment__btn-like products-bag">
            <svg class="assortment__like-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-bag"></use>
            </svg>
          </button>
        </div>
        <div class="assortment__product-item itc-slider-item">
          <img
            class="assortment__product-img"
            src="./images/RedCake.png"
            alt="Raspberry cupcake"
          />
          <h3 class="assortment__trend-title product-title">
            Малиновий капкейк з вершковим кремом
          </h3>
          <h4 class="assortment__trend-price product-price">55,00 грн</h4>

          <button class="btn assortment__descr-btn product-choose">
            в кошик
          </button>
          <button class="assortment__btn-like products-like">
            <svg class="assortment__like-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </button>
          <button class="assortment__btn-like products-bag">
            <svg class="assortment__like-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-bag"></use>
            </svg>
          </button>
        </div>
        <div class="assortment__product-item itc-slider-item">
          <img
            class="assortment__product-img"
            src="./images/YellowCake.png"
            alt="Lemon cupcake"
          />
          <h3 class="assortment__trend-title product-title">
            Лимонний капкейк з мигдалевими стружками
          </h3>
          <h4 class="assortment__trend-price product-price">60,00 грн</h4>
          <button class="btn assortment__descr-btn product-choose">
            в кошик
          </button>
          <button class="assortment__btn-like products-like">
            <svg class="assortment__like-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </button>
          <button class="assortment__btn-like products-bag">
            <svg class="assortment__like-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-bag"></use>
            </svg>
          </button>
        </div>  
        </div>
      </div>
       <button class="itc-slider-btn itc-slider-btn-prev"></button>
       <button class="itc-slider-btn itc-slider-btn-next" ></button>
      </div>
     
    
  </div>
    

</section>
