<footer class="footer">
  <div class="footer-logo">
    <a href="https://konovalova-kateryna.github.io/cake-studio/" class="logo">
      <img src="./images/Logo.png" alt="Логотип" width="204" />
    </a>
  </div>
  <div class="footer__contacts-section">
    <div class="footer__link-section">
      <ul class="footer__link-list">
        <li class="footer__link-item"><a href="">Головна</a></li>
        <li class="footer__link-item"><a href="">Про нас</a></li>
        <li class="footer__link-item"><a href="">Відгуки</a></li>
      </ul>
    </div>
    <div class="footer__phone-section">
      <h5 class="footer__phone-title">Контакти</h5>
      <ul>
        <li class="footer__phone-item">
          <a href="tel:+380502653225">+38 050 265 32 25</a>
        </li>
        <li class="footer__phone-item">
          <a href="tel:+380932653225">+38 093 265 32 25</a>
        </li>
      </ul>
    </div>
    <div class="footer__social-section">
      <h5 class="footer__phone-title">Слідкуй за нами в соцмережах</h5>
      <ul class="footer__social-list">
        <li>
          <a href="">
            <svg class="footer__social-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-Facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="footer__social-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-Instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="footer__social-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-Telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
