<header class="header">
  <div class="container header__container">
    <button class="header__button">
      <svg class="header-icon" width="48" height="48">
        <use href="./images/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
    <nav>
      <a href="https://konovalova-kateryna.github.io/cake-studio/" class="logo">
        <img src="./images/Logo.png" alt="Логотип" class="logo-icon" />
      </a>
    </nav>
    <ul class="header__icon-list">
      <li>
        <ul class="header__icons-hidden">
          <li>
            <button>
              <svg class="header-icon" width="48" height="48">
                <use href="./images/symbol-defs.svg#icon-search"></use>
              </svg>
            </button>
          </li>
          <li>
            <button>
              <svg class="header-icon" width="48" height="48">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
              </svg>
            </button>
          </li>
          <li>
            <button type="button" data-modal-open class="openModalBtn">
              <svg class="header-icon" width="48" height="48">
                <use href="./images/symbol-defs.svg#icon-profile"></use>
              </svg>
            </button>
          </li>
        </ul>
      </li>
      <li>
        <button>
          <svg class="header-icon" width="48" height="48">
            <use href="./images/symbol-defs.svg#icon-bag"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</header>
