<section class="surprise">
  <h2 class="surprise__title">Створюй сюрпризи</h2>
  <div class="surprise__card-background">
    <div class="container">
      <div class="surprise__card">
        <img class="surprise__img" src="./images/Cake-box.png" alt="Cake box" />
        <div class="surprise__cart-content">
          <h3 class="surprise__subtitle">
            Формуй подарунковий бокс за власним смаком
          </h3>

          <p class="surprise__text">
            Ти маєш можливість персоналізувати набори з тістечками згідно із
            своїми бажаннями та потребами.
          </p>
          <button class="btn">Обирай</button>
        </div>
      </div>
    </div>
  </div>
</section>
